
<div class="container">
    <h2 class="text-center m-4">
        Angular CRUD with json-server
    </h2>

    <table class="table table-success table-string">
  <thead>
    <tr>
        <th class="col-2">id</th>
        <th class="col-2">Name</th>
        <th class="col-2">Username</th>
        <th class="col-3">Email</th>
        <th cclass="col-1">update</th>
        <th class="col-1">view</th>
        <th class="col-1">Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr  *ngFor="let data of apiData"> 
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.username}}</td>
        <td>{{data.email}}</td>
        <td>
          <button class="btn btn-warning btn-sm m-1">update</button>
        </td>
        <td>
          <button class="btn btn-secondary btn-sm m-1">view</button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm m-1">delete</button>
        </td>
    </tr>
  </tbody>
    </table>
    <button class="btn btn-info m-2" (click)="addNewUser()">
 Add N ew User
    </button>
</div>